html {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: white;
    
}

h1 {
    font-size: 2.0em;
    text-align: center;
    
}

#frog_escape {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    width: 550px;
    border: 3px solid #eee;
    border-radius: 10px;
    margin: auto;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
}

#frog_container {
    position: relative;
    flex-direction: row;
    flex-flow: row wrap;
    margin: auto;
    width: 500px;
    height: 700px;
    padding: 10px;
    background-color: aqua;
    border: 3px solid black;
    
}

.pondLane {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-flow: row wrap;
    width: 150px;
    height: 100px;
    border: 1px solid black;
    
}

.bubba {
    position: absolute;
    background-color: red;
    height: 10px;
    width: 10px;
    top: 10px;
    left: 10px;
}

.lilypad {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: green;

}

